* {
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}
.duration {
  margin-top: 150px;
  display: block;
  text-align: center;
  font-size: 76px;
  color: #ffffff;
  font-weight: 200;
}
#root {
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  background-color: #0d0d0d;
  height: 100vh;
  background-position: center;
  background-image: url(./ios2.png);
  display: flow-root;
}
.buttonRow {
  padding: 30px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin: auto;
}

input {
  cursor: pointer;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  font-size: 18px;
  border: double black 6px;
  outline: none;
}
.lapsTable {
  color: #ffffff;
}
.laps {
  justify-content: space-between;
  max-width: 300px;
  display: flex;
  margin: auto;
  border-color: #151515;
  padding: 10px;
  font-size: 18px;
}
